# --- General config ---
spark.eventLog.enabled           true
spark.eventLog.compress          true
spark.serializer                 org.apache.spark.serializer.KryoSerializer

# --- S3 config ---
spark.eventLog.dir               s3a://spark-log-proj/spark-events
spark.history.fs.logDirectory    s3a://spark-log-proj/spark-events

# --- S3 config --- (optional)
spark.hadoop.fs.s3a.impl         org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.fast.upload  true

# --- S3 credential --- 
spark.hadoop.fs.s3a.access.key   <user_access_key>
spark.hadoop.fs.s3a.secret.key   <user_secret_key>

# --- S3 endpoint --- 
spark.hadoop.fs.s3a.endpoint     s3.ap-southeast-2.amazonaws.com