# ======================
# GLOBAL
# ======================
TZ=Asia/Ho_Chi_Minh
PROJECT_NAME=dataengineering

# ======================
# CASSANDRA
# ======================
CASSANDRA_MAX_HEAP=512M
CASSANDRA_HEAP_NEWSIZE=100M

# ======================
# MYSQL
# ======================
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=password

# ======================
# SPARK
# ======================
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=1G
SPARK_EVENTLOG_DIR=/opt/spark/logs

# ======================
# GRAFANA
# ======================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_TZ=UTC
