# ------- dot file --------
.env
.idea/

# ------- python file ----------
__pycache__
# docker/spark/spark-defaults.conf

# ------- logging ---------
logs/*
*/logs/*

# ------- so thich ---------
grafana/*
